# Pandas basics



## Introduction

Pandas is a library that unifies the most common workflows that data analysts and data scientists previously relied on many different libraries for. Pandas has quickly became an important tool in a data professional's toolbelt and is the most popular library for working with tabular data in Python. Tabular data is any data that can be represented as rows and columns. 

To represent tabular data, Pandas uses a custom data structure called a **DataFrame**. A DataFrame is a highly efficient, 2-dimensional data structure that provides a suite of methods and attributes to quickly explore, analyze, and visualize data. The DataFrame is similar to the NumPy 2D array but adds support for many features that help you work with tabular data.

One of the biggest advantages that Pandas has over NumPy is the **ability to store mixed data types** in rows and columns. Many tabular datasets contain a range of data types and Pandas DataFrames handle mixed data types effortlessly while NumPy doesn't. Pandas DataFrames **can also handle missing values gracefully** using a custom object, **NaN**, to represent those values. A common complaint with NumPy is its lack of an object to represent missing values and people end up having to find and replace these values manually. In addition, pandas DataFrames contain axis labels for both rows and columns and enable you to refer to elements in the dataframe more intuitively. Since many tabular datasets contain column titles, this means that dataframes preserve the metadata from the file around the data.

## Our case study

In this part of the course, you'll learn the basics of pandas while exploring a dataset from the [the World Resources Institute and Google Earth Outreach.](https://github.com/WRI/global-power-plant-database). This dataset is a comprehensive, open source database of power plants around the world.Each column in the dataset shows a different attribute of the powerplant and each row describes a different powerplant.

Here are some of the columns in the dataset:

- **country** - 3 character country code.
- **country_long** - longer form of the country designation.
- **name** - name of the powerplant.
- **gppd_idnr** - 10 or 12 character identifier for the power plant.
- **capacity_mw** - electrical generating capacity in megawatts.
- **latitude** - geolocation of power plant.
- **longitude** - geolocation of power plant.
- **fuel1** - energy source used in electricity generation.
- **fuel2** - energy source used in electricity generation.
- **fuel3** - energy source used in electricity generation.
- **fuel4** - energy source used in electricity generation.
- **comissioning_year** - year of plant operation
- **owner** - majority shareholder of the power plant
- **source** - entity reporting the data; could be an organization, report, or document
- **ulr** - web document corresponding to the `source` field
- **geolocation_source** - attribution for geolocation information
- **year_of_capacity_data** - year the capacity information was reported
- **generation_gwh_2013** - electricity generation in gigawatt-hours reported for the year 2013.
- **generation_gwh_2014** - electricity generation in gigawatt-hours reported for the year 2014.
- **generation_gwh_2015** - electricity generation in gigawatt-hours reported for the year 2015.
- **generation_gwh_2016** - electricity generation in gigawatt-hours reported for the year 2016.
- **estimated_generation_gwh** - estimated annual electricity generation in gigawatt-hours for the year 2014

## First steps with pandas

### Importing the library

First of all, we need to import the **pandas** library into the environment. For that,
we rely on the Python's keywords *import* and *as*:

In [ ]:
import pandas as pd

Now, we can refer to the library using the *pd* alias, calling any available function using
the dot notation: *pd.some_method()*.

### Loading data from a CSV file

Tabular data is commonly provided in a CSV file. In simple words, it contains table rows whose
cells are separated by some token, like a comma or semicolon. Pandas provides the [read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function, which takes the path of the CSV file and produces a DataFrame representation of its data:

In [ ]:
data = pd.read_csv("https://github.com/cs-ufrn/intro-python-data-science/raw/master/datasets/global_power_plant_database.csv")

Now, *data* is a DataFrame containing the data provided by the CSV file.

### Exploring the dataframe

Now that we've read the dataset into a DataFrame, we can start using the DataFrame methods to explore the data. To select the first 5 rows of a DataFrame, use the method [head()](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.head.html). When you call it, pandas will return a new DataFrame containing just the first 5 rows:

In [ ]:
first_rows = data.head()
first_rows

If you peek at the [documentation](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.head.html), you'll notice that you can pass in an integer (**n**) into the **head()** method to display the first **n** rows instead of the first 5:

```python
print(data.head(3))
```

Because this dataframe contains many columns and rows, pandas uses ellipsis (**...**) to hide the columns and rows in the middle. Only the first few and the last few columns and rows are displayed to conserve space.

To access the full list of column names, use the **columns** attribute:

In [ ]:
column_names = data.columns
column_names

Finally, you can use the <span style="background-color: #F9EBEA; color:##C0392B">shape</span> attribute to understand the dimensions of the DataFrame. The <span style="background-color: #F9EBEA; color:##C0392B">shape</span> attribute returns a tuple of integers representing the number of rows followed by the number of columns:

In [ ]:
# Returns the tuple (8618,36) and assigns to `dimensions`.
dimensions = data.shape
# The number of rows, 8618.
num_rows = dimensions[0]
# The number of columns, 36.
num_cols = dimensions[1]
# Check the print
dimensions

In [ ]:
# show the basic information about the dataset (size, type, etc)
data.info()

In [ ]:
# describe statistical information about the numerical columns
data.describe()

## Basic concepts and operations in pandas

### Indexing

When you read in a file into a DataFrame, pandas uses the values in the first row (also known as the header) for the column labels and the row number for the row labels. Collectively, the labels are referred to as the **index**. DataFrames contain both a row index and a column index. Here's a diagram that displays some of the column and row labels for **data**:


<img width="500" src="https://drive.google.com/uc?export=view&id=1lmhEVgA66p1G-tZw3L6QEknlHvprfup7">

The labels allow us to refer to values in the DataFrame, which we'll learn more about in the rest of this notebook.

### Series

The **Series** object is a core data structure that pandas uses to represent rows and columns. A Series is a labelled collection of values similar to the NumPy vector. The main advantage of Series objects is the **ability to utilize non-integer labels**. NumPy arrays can only utilize integer labels for indexing.

Pandas utilizes this feature to provide more context when returning a row or a column from a DataFrame. For example, when you select a row from a DataFrame, instead of just returning the values in that row as a list, pandas returns a Series object that contains the column labels as well as the corresponding values:

<!-- <img width="500" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0aUZ5c0FrQ0VNWFU"> -->

The Series object representing the first row looks like:

<!--<img width="300" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0Slg5TDdXNUt6V2M"> -->

### Selecting a row

While we use bracket notation to access elements in a NumPy array or a standard list, we need to use the pandas method [loc[]](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label) to select rows in a DataFrame. The <span style="background-color: #F9EBEA; color:##C0392B">loc[]</span> method allows you to select rows by row labels. Recall that when you read a file into a dataframe, pandas uses the row number (or position) as each row's label. Pandas uses zero-indexing, so the first row is at index 0, the second row at index 1, and so on.

If you're interested in accessing a single row, pass in the row label to the <span style="background-color: #F9EBEA; color:##C0392B">loc[]</span> method. Also, Python will return an error if you don't pass in a valid row label. For example, the following line takes the seventh row:

In [ ]:
# Series object representing the seventh row.
data.loc[6]

When accessing an individual row, pandas returns a Series object containing the column names and that row's value for each column.

### Data types

When you displayed individual rows, represented as Series objects, you may have noticed the text <span style="background-color: #F9EBEA; color:##C0392B">"dtype: object"</span> after the last value. <span style="background-color: #F9EBEA; color:##C0392B">"dtype: object"</span> refers to the data type, or **dtype**, of that Series. The object dtype is equivalent to the string type in Python. Pandas borrows from the NumPy type system and contains the following dtypes:

- <span style="background-color: #F9EBEA; color:##C0392B">"object"</span> - for representing string values.
- <span style="background-color: #F9EBEA; color:##C0392B">"int"</span> - for representing integer values.
- <span style="background-color: #F9EBEA; color:##C0392B">"float"</span> - for representing float values.
- <span style="background-color: #F9EBEA; color:##C0392B">"datatime"</span> - for representing time values.
- <span style="background-color: #F9EBEA; color:##C0392B">"bool"</span> - for representing Boolean values.

When reading a file into a DataFrame, pandas analyzes the values and infers each column's types. To access the types - for each column, use the <span style="background-color: #F9EBEA; color:##C0392B">DataFrame.dtypes</span> attribute to return a Series containing each column name and its corresponding type. Read more about data types on the [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/basics.html#dtypes).

Sometimes we can encounter the value - <span style="background-color: #F9EBEA; color:##C0392B">"NaN"</span> - for representing Not a Number, in other words is value that pandas dosen't know how to represent, normally it's associated with missing values.

In [ ]:
data.dtypes

### Selecting Multiple Rows

If you're interested in accessing multiple rows of the DataFrame, you can pass in either a slice of row labels or a list of row labels, and pandas will return a DataFrame. Note that unlike slicing lists in Python, a slice of a DataFrame using <span style="background-color: #F9EBEA; color:##C0392B">.loc[]</span> will include both the start and the end row:

In [ ]:
# DataFrame containing the rows at index 3, 4, 5, and 6 returned.
data.loc[3:6]

In [ ]:
# DataFrame containing the rows at index 2, 5, and 10 returned
data.loc[[2,5,10]]

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">

1. Select the last 5 rows of **fuel1** and assign to the variable **last_rows**. #tips: use **.iloc[]** method.

In [ ]:
# put your code here

### Selecting Individual Columns

When accessing a column in a DataFrame, pandas returns a Series object containing the row label and each row's value for that column. To access a single column, use bracket notation and pass in the column name as a string:

In [ ]:
# Series object representing the "country_long" column.
data["country_long"]

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


1. Assign the **"country_long"** column to the variable **country_name**.
2. Assign the **capacity_mw** column to the variable **capacity**.

In [ ]:
# put your code here

### Selecting Multiple Columns By Name

To select multiple columns, pass in a list of strings representing the column names and pandas will return a dataframe containing only the values in those columns. The following code returns a dataframe containing the <span style="background-color: #F9EBEA; color:##C0392B">"country"</span> and <span style="background-color: #F9EBEA; color:##C0392B">"fuel1"</span> columns, in that order:

In [ ]:
data[["country", "fuel1"]]

When selecting multiple columns, the order of the columns in the returned DataFrame matches the order of the column names in the list of strings that you passed in. This allows you to easily explore specific columns that may not be positioned next to each other in the DataFrame.

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


1. Select and display only the attributes **country_long**, **fuel1**  and **fuel2** of brazillian Power Plants. Tip: use **data.country_long.unique()** to see the name of countries.

In [ ]:
# put your code here

## Data manipulation with Pandas

### Overview

In the previous sections, we learned how to explore a pandas <span style="background-color: #F9EBEA; color:##C0392B">DataFrame</span>. In this mission, we'll explore how to manipulate a DataFrame and make transformations to it. We'll continue to work with the same data set from the Power Plants information. We'll build a better dataset cleaning the data and removing not useful information. We also gonna learn how to group up informatio and manipulate data.

## Dropping Columns

Sometimes the datasets have more information than needed, for the rest of this course we not gonna need the following columns: <span style="background-color: #F9EBEA; color:##C0392B">source</span>, <span style="background-color: #F9EBEA; color:##C0392B">url</span>, <span style="background-color: #F9EBEA; color:##C0392B">geolocation_source</span> and <span style="background-color: #F9EBEA; color:##C0392B">year_of_capacity_data</span>

In [ ]:
data = data.drop(['source', 'url', 'geolocation_source', 'year_of_capacity_data'], axis=1)
data.shape

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


Practice what we learned in the previous sections:

>1. Import the **pandas**
2. Read **global_power_plant_database.csv** into a DataFrame object named **powerplant_info**.
3. Use the **DataFrame.columns** attribute, followed by the **Index.tolist()** method, to return a list containing only the column names.
4. Assign the resulting list to **col_names**, and use the **print()** function to display the value.
5. Display the first three rows of **powerplant_info.csv**.
6. Drop the columns **source**, **url**, **geolocation_source** and **year_of_capacity_data**

In [ ]:
# put your code here

### Transforming a column

We can use the arithmetic operators to transform a numerical column. The values in the **"estimated_generation_gwh"** column, for example, are currently in gigaWatt/hour. We can multiply each value by **1000** to convert the values to megaWatt/hour. The following code will multiply each value in the **"estimated_generation_gwh"** column by **1000**, and return a new Series object with those values:

Pandas allows us to use any of the arithmetic operators to scale the values in a numerical column:

In [ ]:
estimated_generation_mwh = data["estimated_generation_gwh"] * 1000
estimated_generation_mwh

## Dealing with NaN

Sometimes we have to fill the NaN with another value to make some operations with the values of a certain type or we need to know if there are sufficient data to work with. A good place to start is using missingno library to visualize how is your data.

In [ ]:
# missingno is not native, you need install it
!pip install missingno

In [ ]:
import missingno as msno

%matplotlib inline
msno.matrix(data,figsize=(10,5),sparkline=False)

 Selecting the 3th energy source column using the method **fillna()** to change the **NaN** values to **none**:

In [ ]:
data["fuel3"].fillna("None", inplace=True)
msno.matrix(data,figsize=(10,5),sparkline=False)

We can also deall with all the **NaN** in multiple columns using a dictionary to create a different rule for some of them.

In [ ]:
values = {'country': "None", "fuel2": "None", "fuel4": "None", 'capacity_mw':0 }
data = data.fillna(value=values)
msno.matrix(data,figsize=(10,5),sparkline=False)

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">

Practice what we learned in the previous sections:

1. Using the variable **powerplant_info** remove all **NaN** from the column **estimated_generation_gwh** transforming into **0**.

In [ ]:
# put your code here

### Normalize columns in a dataset

The columns in the data set use different units. As a result, the range of values varies greatly between columns. For example, the **capacity_mw** column is in mega Watt, while the **"estimated_generation_gwh"** column ranges  is in giga Watt.

While there are many ways to normalize data, one of the simplest ways is to divide all of the values in a column by that column's maximum value. This way, all of the columns will range from 0 to 1. To calculate the maximum value of a column, we use the **Series.max()** method. In the following code, we use the **Series.max()** method to calculate the largest value in the **"capacity_mw"** column, and assign it to **max_capacity**:

In [ ]:
# The largest value in the "Energ_Kcal" column.
max_capacity = data["capacity_mw"].max()

We can then use the division operator (**/**) to divide the values in the **"capacity\_mw"** column by the maximum value, **max\_capacity**:

In [ ]:
# Divide the values in "capacity_mw" by the largest value.
normalized_capacity = data["capacity_mw"] / max_capacity

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


1. Normalize the values in the **"estimated_generation_gwh"** column, and assign the result to **normalized_generation**.

In [ ]:
# put your code here

### Creating a new column

So far, we've assigned the Series object that results from a column transform to a variable. However, we can add it to the DataFrame as a new column instead.

We add bracket notation to specify the name we want for that column, then use the assignment operator (<span style="background-color: #F9EBEA; color:##C0392B">=</span>) to specify the Series object containing the values we want to assign to that column:

In [ ]:
data["normalized_capacity"] = normalized_capacity

In the DataFrame **powerplant\_info**

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


1. Assign the **"normalized\_generation"** column to a new column named **"Normalized\_Generation"**.

In [ ]:
# put your code here

### Sorting a dataframe by a column

The DataFrame currently appears in numerical order according to the country column. country is initials of country name. To explore which power plant rank the highest in the estimated generation in the **estimated_generation_gwh** column, we need to sort the DataFrame by that column. DataFrame objects have a **sort_values()** method that we can use to sort the entire DataFrame.

To sort the DataFrame on the **capacity_mw** column, pass in the column name to the **DataFrame.sort_values()** method, and assign the resulting DataFrame to a new variable:

In [ ]:
data.sort_values("capacity_mw")

By default, pandas will sort the data by the column we specify in ascending order and return a new DataFrame, rather than modifying <span style="background-color: #F9EBEA; color:##C0392B">estimated_generation_gwh</span> itself. To customize the method's behavior, use the parameters listed in the [documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html):

In [ ]:
# Sorts the DataFrame in-place, rather than returning a new DataFrame.
data.sort_values("estimated_generation_gwh", inplace=True)
# Sorts by descending order, rather than ascending.
data.sort_values("estimated_generation_gwh", inplace=True, ascending=False)
data

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


1. Sort the **powerplant_info** DataFrame in-place on the **capacity_mw** column in descending order.

In [ ]:
# put your code here

### Grouping information 

Sometimes we need to group information, to do this we can use the function <span style="background-color: #F9EBEA; color:##C0392B">groupby</span> group data then we can aggragete data using one of the aggregation functions. In this example we gonna group all the power plants by country:

In [ ]:
group_by_country = data.groupby(["country"])
group_by_country.sum()

**Exercise**

<img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ">


1. Group the **powerplant_info** DataFrame by the type of **fuel1** and then sort by the column estimated generation in descending order.

In [ ]:
# put your code here

### Pivot Table

Pivot table is a table that summarize data from another table, those who use Microsoft Excel maybe be familiar with it and wikipedia gives a good explanation of the subject https://en.wikipedia.org/wiki/Pivot_table .

On pandas we can use them as follow:

In [ ]:
import numpy as np
# Create a pivot table with counting
pivot_table_country_fuel = pd.pivot_table(data, index=['fuel1'], 
                                          columns=['country'],
                                          values=['capacity_mw'],
                                          aggfunc = np.sum, fill_value = 0)
pivot_table_country_fuel.head()